@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgba(240, 247, 249, 255); */
}

body {
  background-color: rgba(240, 247, 249, 255);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  /* font-weight: 400; */
  /* line-height: 1.5; */
  color: #333;
}

/* Header */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}

nav .logo-header h1 {
  padding-left: 20px;
}

nav .name-header {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  padding-right: 20px;
  /* align-items: center; */
}

/* Body */

.radius-and-color {
  background-color: white;
  border-radius: 10px;
}

main {
  display: flex;
  column-gap: 45px;
  padding: 0 20px 0 20px;
  height: 85vh;
}

main .dashboard-section {
  height: 83vh;
  width: 18vw;
  padding: 40px 0 15px 0;
}

main .dashboard-section .route-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;

}

main .dashboard-section .route-container>a {
  padding-left: 50px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

main .expenses-section {
  width: 52vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .expenses-section .expenses-chart {
  height: 50%;
  width: 49vw;
  background-color: #ffff;
  border-radius: 10px;
}

main .expenses-section .expenses-categories {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 2vw;
  margin-bottom: 30px;
}

main .expenses-section .expenses-categories>.food-category,
.bills-category,
.other-category {
  height: 100%;
  width: 15vw;
  background-color: #ffff;
  border-radius: 10px;
}

main .transaction-section {
  width: 25vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main .transaction-section .transaction-container {
  display: flex;
  flex-direction: column;
  height: auto;
}

main .transaction-section .transaction-container>.transaction-history {
  height: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.transaction-section .transaction-container .transaction-history>span {
  height: 10vh;
  padding: 20px;
  border-bottom: 1px solid hsla(0, 0%, 31%, 0.4);
}

main .transaction-section .transaction-container>.transaction-title {
  height: 10vh;
  border-bottom: 1px solid hsla(0, 0%, 31%, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

main .transaction-section .transaction-footer {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid hsla(0, 0%, 31%, 0.4);
}

main .transaction-section .transaction-footer>span {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

main .transaction-section .transaction-footer>button {
  width: 80px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(120, 77%, 42%)
}